body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    color: #fff;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

#wrap {
    position: relative;
    width: 100%;
    text-align: center;
}

#canvas {
    margin: 0 auto;
    background-color: transparent;
}

#text {
    position: absolute;
    top: 10%;
    width: 100%;
    color: #fff;
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 8px #f0a, 0 0 10px #f0f;
    animation: fadeIn 4s ease-in-out forwards;
    opacity: 0;
}

.say {
    font-size: 25px;
    margin: 10px 0;
  text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
    animation: floatIn 1s ease-in-out forwards;
}

#clock-box {
    margin-top: 20px;
    font-size: 18px;
    text-shadow: 0 0 5px #0ff;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}